DB_URL=
DB_USERNAME=
DB_PASSWORD=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRATION_MS=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRATION_MS=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=
FRONTEND_URL=
OPENAI_API_KEY=
OPENAI_MODEL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=